# OpenAI key
# OPENAI_API_KEY="sk-proj-..."

# Or, if using Gemini via OpenAI compatibility layer:
OPENAI_API_KEY="[GCP_API_KEY]"
OPENAI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
TAVILY_API_KEY="tvly-"