@import "tailwindcss";

@font-face {
  font-family: "Clash_Display";
  src: url("/assets/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("/assets/ClashDisplay-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("/assets/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("/assets/ClashDisplay-Medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --color-gray: #191919;
  --color-orange: #da8f4d;
  --color-white: #ffffff;
  --color-light-gray: #b3b3b3;
  --color-glass: rgba(107, 107, 107, 0.13);
  --color-ellipse-orange: rgba(218, 143, 77, 0.06);
  --color-bg-rect: rgba(253, 216, 173, 0.25);
  --color-about-glass: rgba(218, 143, 77, 0.09);
  --color-dark-card: rgba(43, 43, 43, 0.68);
  --color-btn-glass: rgba(255, 255, 255, 0.35);
  --color-card-bg-nft: rgba(244, 233, 196, 0.09);
  --color-text-creator: #b4c7ce;
  --color-avatar-bg: #d9d9d9;
  --color-author-name: #ea9112;
  --color-card-title: #e2e2e1;
  --color-card-subtitle: #acacac;
  --color-artist-bg: rgba(230, 220, 186, 0.2);
  --color-timeline-bg: rgba(255, 255, 255, 0.05);
  --color-timeline-border: rgba(173, 173, 173, 0.7);
}
